.testatorContaier {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.will-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.will-form > form {
    display: flex;
    flex-direction: column;
}

.will-form label {
    display: block;
    margin-bottom: 8px;
}

.will-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-left: auto;
}

.will-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.text-section {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 16px;
}

.newWillContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}