body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.back-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #45a049;
}

.title {
  text-align: center;
  flex-grow: 1;
  font-size: 20px;
}

.container {
  position: relative; /* Change from absolute to relative */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.userTypeBtn {
  width: 200px;
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 10px;
  border: 1px solid transparent;
}

.userTypeBtn:hover {
  background-color: #45a049;
  border: 1px solid white;
}

.connectWalletBtn {
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}